{% extends 'baseLogin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido2 %}

<div class="container">
    <div class="row">
        <div class="col-8" style="margin: auto; margin-top: 10px">
        <div class="card"  >
            <div class="card-header text-center" >
                Registro
              </div>
            <div class="card-body">
              {{mensaje}}
                <form class="row" id="registroForm" action="" method="POST" >
                    {% csrf_token %}
                    {{ formAl | crispy }}
  
                    <div class="col-12" >
                      <button type="submit" style="width: 100%" class="btn btn-primary">Registrarse</button>
                      <a  class="btn btn-warning" style="width: 100%" href="{% url 'login' %}">Inicia sesión</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
  </div>
  </div>
              
  
              </form>
  
              <br>
  
              <h3 class="text-center">{{mensaje}}</h3>
          </div>
  
          <div class="col-4"></div>
  
      </div>
  
  
  
  </div>

    
    {% endblock %}