{% extends 'baseAlumno.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido4 %}




<div class="container">
    <div class="row">
        <div class="col-4">
                <a href="{% url 'homeAlumno' %}">
                    <img src="{% static '../static/imagenes/iconoGrupo.jpg' %}" class="d-block w-50 rounded-circle" style="margin-top: 20px; width: 100px">
                </a>
        </div>
        <div class="col-4">
            <a href="{% url 'postAlumno'%}"><button type="button" class="btn btn-primary" >Crear Publicacion</button></a>
        
            <button type="button" class="btn btn-success">Buscar Grupo</button>
    
        </div>
        <div class="col-4"></div>
    </div>
</div>

<span class="border border-primary"></span>




{% endblock %}