{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="card" style="width: 18rem;">
                <img src="{% static '../static/imagenes/im2.png' %} " class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">¡Hola a todos los estudiantes apasionados!
            
                    En nuestra página, valoramos y celebramos la diversidad de experiencias y conocimientos que cada uno de 
                    ustedes aporta. Queremos crear un ambiente inclusivo 
                    donde todos puedan sentirse cómodos compartiendo sus ideas, opiniones y datos.</p>
                </div>
              </div>
        </div>
    </div>

</div>


{% endblock %}
